#ifndef CONFIG_H
#define CONFIG_H

// WiFi
const char* WIFI_SSID     = "";
const char* WIFI_PASSWORD = "";

// MQTT
const char* MQTT_SERVER = "";
const int MQTT_PORT = 
const char* MQTT_USER = "";
const char* MQTT_PASS = "";

// BLE
const unsigned long scanPauseInterval = 30000; // BLE Scan interval in ms
const unsigned long scanInterval = 7000; // BLE Scan interval in ms

#endif

